{{ define "content" }}
<h3>Form Karyawan</h3>
  <form action="/employees/create" method="POST">
      <div class="mb-3 mt-5">
          <label for="nama" class="form-label">Nama Karyawan</label>
          <input type="text" id="nama" name="nama" class="form-control" />
      </div>
      <div class="mb-3">
          <label for="npwp" class="form-label">NPWP</label>
          <input type="text" id="npwp" name="npwp" class="form-control" />
      </div>
      <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea id="address" name="address" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Create</button>
  </form>
{{ end }}      